* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Header and navigation style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* Banner Style */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
    font-weight: 700;
    font-size: 35px;
}

.banner-sub {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Main Section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

/* About Section Styles */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;

}

.about-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 400;
    font-size: 20px;
    color: #474747;
}

/* What I Do Styles */
.skills-container {
    display: flex;
    gap: 24px;

}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* Resume Styles */
.resume-content {
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;

}

.resume .description {
    color: #757575;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* Contact Style */
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64pxS;
}
.contact a{
    text-decoration: none;
}